.snow-blocks{
    position: absolute;
    height: 20%;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    margin-top: 10%;
    
    
}
.snow1{
    background-image: url(snow1.png);
    position:absolute;
    width: 100%;
     height:600px;
     animation: snow1 18s linear infinite;    
 }
.snow2{
    background-image: url(snow3.png);
    animation: snow2 10s linear infinite;
    width: 100%;
    height:600px;
    position:absolute;
}
@keyframes snow2{
    0%{background-position: 0 0, 0 0;}
    100%{background-position: 10% 600px, 10% 600px;}
}
@keyframes snow1{
    from{background-position: 0 -300px;}
    20% {background-position: 20% -100px;}
    40% {background-position: 30% 100px;}
    to{background-position: 20% 700px;}
}